<h1>New Product</h1>

<%= form_for @product, html: { multipart: true } do |f| %>

    <% if @product.errors.any? %>
   
        <div id="error_explanation">
        <h2>
            <%= "#{pluralize(@product.errors.count, "error")} prohibited this product from being saved:" %>
        </h2>
        <ul>
            <% @product.errors.full_messages.each do |msg| %>
            <li>
                <%= msg %>
            </li>
            <% end %>
        </ul>
        </div>
 
  <% end %>

 <div>
    <%= f.label :title %>
    <%= f.text_field :title, :class =>'form-control' %>
  </div>

  <div>
    <%= f.label :description %>
    <%= f.text_area :description, :class =>'form-control'%>
  </div>
  
  <div>
    <%= f.label :price %>
    <%= f.text_field :price, :class =>'form-control' %>
  </div>

  <div>
    <%= f.label :Images %>
    <div>
      <%= file_field_tag "images[]", type: :file, multiple: true, :class =>'form-control' %>
    </div>
  </div>
  <br>
  <div>
     <%= f.submit ' + Add ', :class =>'btn btn-success btn-md' %>
  </div>
<% end %>

<br>
<hr>

<%= link_to '<< To products list', products_path, :class => "btn btn-xs btn-default" %>
